@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #DDDDDD;
    /* Set background color to light gray */
    color: #726A95;
    /* Set text color to custom purple */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}